{% extends 'shared/base.html' %}
{% block content %}

<h1>{{ tea.name }}</h1>
<h4>{{ tea.flavor }}</h4>

<h3>Available Packaging</h3>
{% for packaging in packaging_options %}
    <p>{{ packaging.name }}: Lasts {{ packaging.longevity_in_months }} months</p>
    <form action="{% url 'teaapp:tea_details' packaging.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="actual_method" value="DELETE">
    <button>Delete</button>
    </form>
{% endfor %}
<br><br>
    <form action="{% url 'teaapp:tea_edit_form' tea.id %}" method="GET">
    {% csrf_token %}
    <button>Edit</button>
    </form>
<!-- <a href="{% url 'teaapp:tea_edit_form' tea.id %}"><button>Edit</button></a> -->
<br><br>
<a href="{% url 'teaapp:tea_list' %}">Back</a>

{% endblock content %}